<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->

  <logo-nav></logo-nav>

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <div class="row row-offcanvas row-offcanvas-right">
      <!-- partial:partials/_settings-panel.html -->
      <header-nav></header-nav>
      <profile-nav></profile-nav>

      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->

      <!-- partial -->
      <div class="content-wrapper">
        <div class="card">
          <div class="card-body">
            <a [routerLink]="['/addcategory', '']" id="show" class="btn  btn-maron" style="float: right">Add Category</a>
            <a [routerLink]="['/addcategory', '']" id="show" class="btn  btn-maron" style="float: right">Export to
              excel</a>
            <h4 class="card-title">Users Management</h4>
            <span><input type="text" placeholder="Search.."></span>
            <br />
            <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="order-listing" class="table " style="text-align: center">
                    <thead class="thead-dark">
                      <tr class="todo-list">
                        <th>S no.</th>
                        <th>Category Name<span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                        <th>Num of Coaches</th>
                        <th>Status</th>
                        <th>Created On<span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                        <!-- <th>Email Id<span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                        <th>Role<span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                        <th>Date of creation</th> -->
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="todo-list" *ngFor="let data of catData;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{data.category_name}}</td>
                        <td>{{data.no_of_coaches}}</td>
                        <td>{{data.status}}</td>
                        <td>{{data.created_on}}</td>
                        <!-- <td>srikanth@gmail.com</td>
                        <td>Student</td>
                        <td>21-8-2018</td> -->
                        <td>
                          <a routerLink="/addcategory"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                          <a (click)="delete(data._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid clearfix">
          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
            <a routerLink="#">koachkonnect </a>. All rights reserved. </span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">

          </span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- row-offcanvas ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>

<script src="../../assets/admin-scripts/bootstrap/dist/js/bootstrap.min.js"></script>
