<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->

  <logo-nav></logo-nav>

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <div class="row row-offcanvas row-offcanvas-right">
      <!-- partial:partials/_settings-panel.html -->
      <header-nav></header-nav>
      <profile-nav></profile-nav>

      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->

      <!-- partial -->
      <div class="content-wrapper">
        <div class="card">
          <div class="card-body">
            <a (click)="addUser()" id="show" class="btn btn-maron" style="float: right;color: white">Add User</a>
            <a routerLink="/addusers" id="show" class="btn btn-maron" style="float: right">Export to excel</a>
            <h4 class="card-title">Users Management</h4>
            <span><input type="text" placeholder="Search.." name="search" [(ngModel)]="filter"></span>
            <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
            <br />
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="order-listing" class="table " style="text-align: center">
                    <thead class="thead-dark">
                      <tr class="todo-list">
                        <th>S no.</th>
                        <th (click)="sort('uname')">User Name<span *ngIf="key =='uname'">
                            <i class="fa fa-sort" aria-hidden="true"></i></span></th>
                        <th>First Name</th>
                        <th>Last name</th>
                        <th (click)="sort('phone')">Mobile Number<span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                        <th (click)="sort('email')">Email Id<span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                        <th (click)="sort('role')">Role<span><i class="fa fa-sort" aria-hidden="true"></i></span></th>
                        <th>Date of creation</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="todo-list" *ngFor="let data of usersData  | orderBy: key : reverse | filter:filter;let i=index ">
                        <td>{{i+1}}</td>
                        <td>{{data.user_name}}</td>
                        <td>{{data.first_name}}</td>
                        <td>{{data.last_name}}</td>
                        <td>{{data.phone}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.role}}</td>
                        <td>{{data.created_on}}</td>
                        <td>
                          <a (click)="editUser(data._id)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                          <a (click)="deleteUser(data._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid clearfix">
          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
            <a routerLink="#">koachkonnect </a>. All rights reserved. </span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">

          </span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- row-offcanvas ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>

<script src="../../assets/admin-scripts/bootstrap/dist/js/bootstrap.min.js"></script>
