<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  
  <logo-nav></logo-nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <div class="row row-offcanvas row-offcanvas-right">
      <!-- partial:partials/_settings-panel.html -->
      <header-nav></header-nav>
      <profile-nav></profile-nav>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      
      <!-- partial -->
      <div class="content-wrapper">
        <div class="card">
          <div class="card-body">
            <!-- <a href="" id="show" class="btn  btn-maron" style="float: right">Export To Excel</a>
              <a routerLink="/addwholesellers" id="show" class="btn  btn-maron" style="float: right">Add Wholeseller</a> -->
              
              <h4 class="card-title">Booking History</h4>
              <br/>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table " style="text-align: center">
                      <thead class="thead-dark">
                        <tr>
                          <th>Booking Date</th>
                          <th>Customer Name</th>
                          <th>Coach Name</th>
                          <th>Service catogary</th>
                          <th>Session Slot</th>
                          <th>Date of Creation</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="todo-list">
                          <td>22-3-2018</td>
                          <td>User 1 </td>
                          <td>coach 1</td>
                          <td>category</td>
                          <td>1 hour</td>
                          <td>22-3-2018</td>
                          <td>Completed</td>
                        </tr>
                        <tr class="todo-list">
                          <td>22-3-2018</td>
                          <td>User 1 </td>
                          <td>coach 1</td>
                          <td>category</td>
                          <td>1 hour</td>
                          <td>22-3-2018</td>
                          <td>Completed</td>
                        </tr>
                        <tr class="todo-list">
                          <td>22-3-2018</td>
                          <td>User 1 </td>
                          <td>coach 1</td>
                          <td>category</td>
                          <td>1 hour</td>
                          <td>22-3-2018</td>
                          <td>Completed</td>
                        </tr>
                        <tr class="todo-list">
                          <td>22-3-2018</td>
                          <td>User 1 </td>
                          <td>coach 1</td>
                          <td>category</td>
                          <td>1 hour</td>
                          <td>22-3-2018</td>
                          <td>Completed</td>
                        </tr>
                        <tr class="todo-list">
                          <td>22-3-2018</td>
                          <td>User 1 </td>
                          <td>coach 1</td>
                          <td>category</td>
                          <td>1 hour</td>
                          <td>22-3-2018</td>
                          <td>Completed</td>
                        </tr>
                        <tr class="todo-list">
                          <td>22-3-2018</td>
                          <td>User 1 </td>
                          <td>coach 1</td>
                          <td>category</td>
                          <td>1 hour</td>
                          <td>22-3-2018</td>
                          <td>Completed</td>
                        </tr>
                        <tr class="todo-list">
                          <td>22-3-2018</td>
                          <td>User 1 </td>
                          <td>coach 1</td>
                          <td>category</td>
                          <td>1 hour</td>
                          <td>22-3-2018</td>
                          <td>Completed</td>
                        </tr>
                        <tr class="todo-list">
                          <td>22-3-2018</td>
                          <td>User 1 </td>
                          <td>coach 1</td>
                          <td>category</td>
                          <td>1 hour</td>
                          <td>22-3-2018</td>
                          <td>Completed</td>
                        </tr>
                        <tr class="todo-list">
                          <td>22-3-2018</td>
                          <td>User 1 </td>
                          <td>coach 1</td>
                          <td>category</td>
                          <td>1 hour</td>
                          <td>22-3-2018</td>
                          <td>Completed</td>
                        </tr>
                        <tr class="todo-list">
                          <td>22-3-2018</td>
                          <td>User 1 </td>
                          <td>coach 1</td>
                          <td>category</td>
                          <td>1 hour</td>
                          <td>22-3-2018</td>
                          <td>Completed</td>
                        </tr>
                      </tbody>
                    </table>                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a routerLink="#">Koachkonnect</a>. All rights reserved. </span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
               
              </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    